/* ==========================
   MODO OSCURO GLOBAL
========================== */

body.dark-theme {
  background: #121212;
  color: #ffffff;
}

body.dark-theme .main-content {
  background: #181818 !important;
}

body.dark-theme .dashboard-body {
  background: #181818 !important;
}

body.dark-theme .topbar {
  background: #202020 !important;
  color: white !important;
}

body.dark-theme .page-title,
body.dark-theme .section-subtitle,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme p,
body.dark-theme span {
  color: white;
}

/* Tarjetas */
body.dark-theme mat-card,
body.dark-theme .mat-mdc-card {
  background: #252525 !important;
  color: white !important;
}

/* Tablas */
body.dark-theme table,
body.dark-theme .mat-mdc-table {
  background: #252525 !important;
  color: white !important;
}

body.dark-theme th,
body.dark-theme td {
  color: white !important;
}

/* Inputs */
body.dark-theme input,
body.dark-theme textarea,
body.dark-theme select {
  background: #2e2e2e;
  color: white;
}

/* Material */
body.dark-theme .mat-mdc-form-field {
  color: white;
}

body.dark-theme .mat-mdc-form-field input {
  color: white !important;
}